body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

main {
  margin-top: 20px; /* Adjust the value as needed */
}

#new-task {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

#add-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#task-list {
  list-style: none;
  padding: 0;
}

#task-list li {
  margin-bottom: 5px;
}
